<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>GIDClientID</key><string>528578915848-gb36i9e9uegbonciprkbt7nbhgargoin.apps.googleusercontent.com</string><key>GIDServerClientID</key><string>528578915848-5teoh89tsaun4it7d590e3l80f3icltf.apps.googleusercontent.com</string><key>CFBundleURLTypes</key><array><dict><key>CFBundleURLSchemes</key><array><string>gomimon</string><string>com.googleusercontent.apps.528578915848-gb36i9e9uegbonciprkbt7nbhgargoin</string></array></dict></array></dict></plist>
